* {
    margin: 0px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .clearfix {
    clear: both;
    float: none !important;
  }
  
  img {
    max-width: 100%;
    border: none;
  }
  
  html {
    font-size: 15px;
    height: 100%;
    min-width: 300px;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  @media screen and (min-width: 370px) {
    html {
      font-size: 16px;
    }
  }
  
  #ssacw-wrapper {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    overflow-y: scroll;
    display: block !important;
  }
  
  #ssacw-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #eee;
    z-index: 2;
    height: 100%;
    min-height: 500px;
  }
  
  @media screen and (width: 370px) {
    #ssacw-chat {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    #ssacw-wrapper {
      overflow-y: none;
    }
    
    #ssacw-full {
      bottom: 0;
      height: auto;
      min-height: 0;
    }
  }
  
  
  #ssacw-header {
    border-bottom: 1px solid #eaeced;
    -webkit-box-shadow: 0 1px 0.8rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 0.8rem rgba(0, 0, 0, 0.05);
    position: relative;
    /*background-image: url(/img/chat-bg.png);
    background-size: cover;*/
    color: white;
    height: 15em;
    padding: 1em;
  }
  
  #ssacw-header .close {
    position: absolute;
    cursor: pointer;
    -webkit-opacity: 0.45;
    -ms-opacity: 0.45;
    -moz-opacity: 0.45;
    -o-opacity: 0.45;
    opacity: 0.45;
    right: 1em;
    top: 1.425em;
    width: 2em;
    text-align: center;
  }
  
  #ssacw-header .close img {
    width: 1em;
    height: 1em;
  }
  
  #ssacw-header .close:hover {
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  
  #ssacw-header strong {
    vertical-align: middle;
    font-weight: 500;
    margin-left: .75em;
    margin-top: .3em;
    display: inline-block;
  }
  
  
  #ssacw-get-email {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    z-index: 3;
  }

  
  #ssacw-full textarea,
  #ssacw-full input {
    width: 100%;
    border: none;
    font-size: 16px;
    resize: none;
    line-height: 1.4;
    padding: .75rem 1.25rem;
    background: white;
    outline: none;  
    border-radius: 4px;  
  }
  #ssacw-full textarea{
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  #ssacw-full textarea:focus,
  #ssacw-full input:focus {
    border-color: #3b3868;
  }
  
  #email-submit-button {
    margin-top: 2em;
    padding: 1em 2em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #ssacw-chat {
    position: absolute;
    bottom: 13em;
    left: 1em;
    right: 1em;
    top: 4em;
  }
  
  #ssacw-button {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  #ssacw-button img,
  #ssacw-button .close {
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  #ssacw-button img {
    width: 32px;
    height: 29px;
    position: absolute;
    top: 18px;
    left: 46%;
    margin-left: -16px;
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  
  #ssacw-button .close {
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
    position: absolute;
    top: 0;
    right: 14px;
    width: 4.28571em;
    height: 4.28571em;
  }
  
  #ssacw-button .close:before,
  #ssacw-button .close:after {
    position: absolute;
    top: 1.5em;
    right: 2.07143em;
    content: ' ';
    height: 1.35714em;
    width: 0.14286em;
    background-color: #fff;
  }
  
  #ssacw-button .close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  #ssacw-button .close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  #ssacw-button.open img {
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0.7);
            transform: rotate(45deg) scale(0.7);
  }
  
  #ssacw-button.open .close {
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  

  .ssacw-bg-color{
    background-color: #333333;
  }

  #ssacw-email-disclaimer{
    opacity: .3;
    font-size: .9em;
    margin: .5rem;
  }

  #ssacw-branding{
    opacity: .3;
    font-size: .9em;
    margin: .5rem 0 0;
    text-align: center;
  }
  #ssacw-branding a{
    color: inherit;
  }


  #ssacw-full.whitelabeled #ssacw-chat {
    bottom: 12em!important;
  }
  #ssacw-full.whitelabeled #ssacw-branding{
    display: none;
  }